.speechify-auth-container{
    min-width: fit-content;
    width:40%;
}

.speechify-header-icon{
    height: 10rem;
    margin-top:4rem;
}
.speechify-auth{
    text-align: left;
    margin: 5rem 0rem 1rem 0rem;
    width: 85%;
    height: auto;
    padding: 2rem 2rem 2rem 2rem;
    display: inline-block;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 11px 0px #f1f1f1;
    -moz-box-shadow: 0px 1px 11px 0px #f1f1f1;
    box-shadow: 0px 1px 11px 0px #e8e8e8;
    background-color: #ffffff;
}

.speechify-auth label{
    color:#412d98;
    font-weight: 500;
    font-size: 1.2rem;
}
.speechify-auth input{
    height: 3rem;
    background-color: #f7f7f7;
    border: none;
}
.speechify-auth button {
    height: 3rem;
    background: #412d98;
    color:#F4F9E9;
    border: none;
}

.speechify-auth button:hover{
    background-color: #838B9A;
}

body{
    background: #f7f6fb !important;
}
.speechify-auth-container .alert{
    position: fixed;
    top: 12rem;
    right: 2rem;
}