.speechify-navbar{
    background-color: #2e2651 !important;
    position:relative;

}
/* .speechify-navbar .navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: relative;
  } */

.speechify-dash-component{
    min-width: fit-content;
    width:80%;
}


.speechify-dash-component label{
    color:#412d98;
    font-weight: 500;
    font-size: 1.2rem;
}
.speechify-dash-component input{
    height: 3rem;
    background-color: #f7f7f7;
    border: none;
}

body{
    background: #f7f6fb !important;
}
.speechify-dash-component button {
    height: rem;
    background: #412d98;
    color:#F4F9E9;
    border: none;
}

.speechify-dash-component button:hover{
    background-color: #838B9A;
}
.speechify-dash-left{
    text-align: left;
    margin: 5rem 0rem 1rem 0rem;
    width: 100%;
    height: auto;
    padding: 2rem 2rem 2rem 2rem;
    display: inline-block;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 11px 0px #f1f1f1;
    -moz-box-shadow: 0px 1px 11px 0px #f1f1f1;
    box-shadow: 0px 1px 11px 0px #f0f0f0;
    background-color: #ffffff;
}
.speechify-dash-right{
    text-align: left;
    margin: 5rem 0rem 1rem 0rem;
    width: 100%;
    height: auto;
    padding: 2rem 2rem 2rem 2rem;
    display: inline-block;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 11px 0px #f1f1f1;
    -moz-box-shadow: 0px 1px 11px 0px #f1f1f1;
    box-shadow: 0px 1px 11px 0px #f0f0f0;
    background-color: #ffffff;
}
.speechify-dash-view{
    text-align: left;
    margin: 5rem 0rem 1rem 0rem;
    width: 100%;
    height: auto;
    padding: 2rem 2rem 2rem 2rem;
    display: inline-block;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 11px 0px #f1f1f1;
    -moz-box-shadow: 0px 1px 11px 0px #f1f1f1;
    box-shadow: 0px 1px 11px 0px #f0f0f0;
    background-color: #ffffff;
}
